@import '../../styles/shared';

.BaseLink {
  position: relative;
  display: inline-block;
  @include font-cta;
  padding-bottom: px(2);
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: px(1);
    width: 100%;
    background: $teal;
    @include linear-gradient($zinc, $teal, background);
  }

  &:hover::after {
    background: $black;
  }
}
